@use "../../styles/forward.scss" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
 
  margin: toRem(40) 0;
gap: toRem(10);
  .active {
    color: $header-color;
  }
  .button {
    font-size: toRem(20);
    :hover {
      color: $header-color;
    }
  }
  ul {
    display: flex;
    align-items: center;
    margin-bottom: toRem(0);
    padding-bottom: toRem(0);
    gap: toRem(10);
    // width: 130px;
    justify-content: center;
    li{
      padding: toRem(3);
      background: $card-background;
      font-size: toRem(20);
    }
  }
}
