@use "../../styles/forward.scss" as *;

.container {

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
   h1{
    text-align: center;
    margin-bottom: toRem(20);
    @include adaptiveValue("font-size",32 ,24 );
    margin-bottom: toRem(40);
  }
  div {
    position: relative;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: toRem(25);
    border-radius: 10px;
    border: 1px solid #ccc;

    padding: toRem(20);
    .buttons {
      display: flex;
      justify-content: space-between;
      gap: toRem(20);
      align-items: center;
    }
  }
  a {
    text-decoration: underline;
  }
  .error {
    color: $error-color;
    font-size: toRem(14);
    position: absolute;
    bottom: toRem(-20);
    left: toRem(10);
    letter-spacing: 1.5px;
  }
}
