@use "../../styles/forward.scss" as *;

.container {
  padding: 0 toRem(15);
  ul {
    display: flex;
    flex-wrap: wrap;

    gap: toRem(20);
    @media (max-width: $mobile) {
      justify-content: space-around;
    }
  }
}
