@use "../../styles/forward.scss" as *;

.container {
  padding: 0 toRem(15) toRem(50) toRem(15);
  ul {
    display: flex;
    flex-wrap: wrap;

    gap: toRem(20);

   
      justify-content: space-around;
    
  }
}
