@use "../../styles/forward.scss" as *;

.container {
  max-width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  position: relative;

  border-radius: 10px;
  border: 1px solid #ccc;
  background: $card-background;
  padding-right: 30px;
  @include adaptiveValue("padding", 20, 10);
  h6 {
    text-transform: uppercase;
    max-width: 90%;
    @include adaptiveValue("font-size", 24, 18);
  }

  .link {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: toRem(15);
  }

  p {
    line-height: 1.3;
    flex: 1 1 auto;
    // text-align: justify;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: toRem(15);
   
    .counts{
      flex-direction: column;
      display: flex;
    }
  }
  .menu {
    position: absolute;
    right: toRem(15);
    top: toRem(15);
    font-size: 20px;
    background: $card-background;
    padding: 5px;
    // &:hover {
    //   ~ .option {
    //     opacity: 1;
    //     z-index: 1;
    //   }
    // }
  }
  
  .option {
    position: absolute;
    right: toRem(35);
    top: toRem(10);
    border-radius: 10px;
    padding: toRem(10);

    background: $background-color;
    opacity: 0;
    z-index: -1;
    display: flex;
    transition: all 0.5s;
    gap: toRem(5);

    &:hover {
      opacity: 1;
      z-index: 1;
    }
    button {
      &:hover {
        color: $warning-color;
      }
    }
    a {
      &:hover {
        color: $success-color;
      }
    }
  }
  .open{
     opacity: 1;
        z-index: 1;
  }
}
