@use '../../../styles/forward.scss' as *;


.doughnut{
  margin: 0 auto;
  max-width: 900px !important;
  max-height: 400px !important;

  canvas{
    max-width: 100% !important;
    width: 500px !important;
    height: 500px !important;
    max-height: max-content;
  }
}